.experience {
    max-width: 800px;
    padding: 20px;
}

.experience h1 {
    text-align: start;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
}

.experience-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    border-left: 5px solid var(--blue);
    border-radius: 8px;
    background-color: var(--white-secondary);
    text-align: start;
}

.lateralbar {
    width: 5px;
    height: 100%;
    margin-right: 20px;
}

.content {
    flex: 1;
}

.item {
    margin-right: 10px;
}

.experience-item h2 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-item p {
    font-size: 1rem;
    font-weight: normal;
    margin: 5px 0;
}

.experience-item p .icon {
    margin-right: 10px;
}

/* Dark mode styles */

body.dark-mode .experience-item {
    border-left: 5px solid var(--yellow);
    background-color: #1e1e1e;
}

body.dark-mode .experience-item h2,
body.dark-mode .experience-item p {
    color: #ffffff;
}

/* Responsividade */
@media (max-width: 1024px) {
    .experience {
        max-width: 90%;
    }

    .experience h1 {
        font-size: 2rem;
    }

    .experience-item {
        flex-direction: column;
    }

    .lateralbar {
        width: 100%;
        height: 5px;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .experience-item h2 {
        font-size: 1.8rem;
    }

    .experience-item p {
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    .experience {
        max-width: 100%;
    }

    .experience h1 {
        font-size: 1.8rem;
    }

    .experience-item {
        margin-bottom: 30px;
        padding: 5px;
    }

    .experience-item h2 {
        font-size: 1.6rem;
    }

    .experience-item p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .experience h1 {
        font-size: 1.5rem;
    }
    .experience-item h2 {
        font-size: 1.4rem;
    }

    .experience-item p {
        font-size: 0.85rem;
    }
}