/* GERAL */
.projects {
    padding: 10px;
    margin: 0 auto;
}

.title {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px;
}

.title h1 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 10px;
}

/* Cartões */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /* Quebra os elementos em várias linhas */
}

.card-infos {
    width: 100%;
    max-width: 320px; /* Ajuste de largura máxima */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border: 1px solid #9c9c9c;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.card-infos img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-infos h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.card-infos h2 {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 5px;
}

/* RESPONSIVIDADE */

/* Dispositivos pequenos (máx 480px) */
@media (max-width: 480px) {
    .title h1 {
        font-size: 1.5rem;
    }

    .card {
        flex-direction: column;
        gap: 15px;
    }

    .card-infos {
        width: 90%;
        max-width: none;
        padding: 10px;
        box-shadow: none;
        border: none;
    }

    .card-infos img {
        width: 100%;
        max-height: 150px;
    }

    .card-infos h1 {
        font-size: 1.2rem;
    }

    .card-infos h2 {
        font-size: 0.9rem;
    }
}

/* Telas menores que 768px */
@media (max-width: 768px) {
    .card {
        gap: 15px;
    }

    .card-infos {
        width: 90%;
        max-width: 300px;
    }

    .card-infos img {
        max-height: 180px;
    }

    .card-infos h1 {
        font-size: 1.3rem;
    }

    .card-infos h2 {
        font-size: 1rem;
    }
}

/* Telas menores que 1024px (tablets) */
@media (max-width: 1024px) {
    .card {
        gap: 30px;
    }

    body.dark-mode .card-infos {
        border: none !important; /* Remove a borda */
        box-shadow: none !important; /* Remove a sombra */
        background-color: transparent;
    }

    .card-infos {
        max-width: 350px;
        padding: 15px;
        border: none;
        background: transparent;
        border: none;
    }

    .card-infos h1 {
        font-size: 1.2rem;
    }

    .card-infos h2 {
        font-size: 0.7rem;
    }
}