@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; 
  box-sizing: border-box; 
}

.container {
  max-width: 1000px; /* Define a largura máxima */
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 0 20px; /* Adiciona um pouco de padding nas laterais */
}

:root {
  --white: #ffffff;
  --light-gray: #a0a0a0;
  --gray: #585858;
  --black: #000;
  --blue: #007bff;
  --yellow: #ffc107;
  --white-bg: #F5F5F5;
}